@import './util.less';
@import './init.less';
@import './common.less';

.tab,
.tabBody{
    .container{
        max-width: 800px;
    }
}
.contactInfo{
    >div{
        margin-bottom: 20px;
        img{
            width: 26px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 14px;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            color: #444;
            letter-spacing: 1px;
        }
        &.name,
        &.phone{
            img{
                width: 30px;
                margin-left: -2px;
            }
        }
    }
}
#joinUsForm{
    width: 500px;
    margin: 0px auto;
    text-align: center;
    .formGroup{
        margin: 10px 0px;
        label{
            font-size: 15px;
            color: #444;
            letter-spacing: 1px;
            line-height: 50px;
        }
        input{
            height: 35px;
            border: none;
            border-bottom: 1px solid #999;
            width: 350px;
            font-size: 15px;
            padding: 0px 6px;
            background: transparent;
            .animation();
            &:focus{
                border-color: @theme;
            }
        }
    }
    button{
        height: 45px;
        width: 380px;
        background-color: @theme;
        margin: 20px auto;
        border: none;
        font-size: 15px;
        color: #fff;
        .radius(2px);
        .animation();
        &:hover{
            cursor: pointer;
            background-color: darken(@theme, 10%);
        }
    }
}
#contactUsImg{
    float: right;
    height: 210px;
    margin-right: 40px;
    display: none;
}
#joinUsImg{
    margin: 30px auto -40px auto;
    display: block;
}
#map{
    margin-top: 30px;
    height: 400px;
    width: 100%;
}
.footerMenus{
    margin-top: 0px;
}