@import './util.less';
@import './init.less';
@import './common.less';
@import './animation.less';

.specialProduct{
    margin-top: 20px;
    padding: 30px 0px;
    .projectList{
        ul{
            .clear;
            li{
                width: 31%;
                padding-bottom: 46.4%;
                margin: 0px 1.16%;
                float: left;
                overflow: hidden;
                a{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    .name,
                    .discripe{
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        right: 0px;
                        padding: 12px;
                        text-align: center;
                        z-index: 2;
                        background-color: rgba(0, 0, 0, 0.5);
                        .animation(.4s);
                        p{
                            word-break: break-all;
                            color: #fff;
                            font-size: 18px;
                            letter-spacing: 2px;
                        }
                    }
                    img{
                        position: absolute;
                        width: 100%;
                        top: 0%;
                        left: 0%;
                        width: 100%;
                        .animation(.4s);
                    }
                    .discripe{
                        top: auto;
                        bottom: -100%;
                        text-align: left;
                        padding: 15px;
                        p{
                            font-size: 14px;
                            line-height: 26px;
                            text-indent: 2em;
                        }
                    }
                    &:hover{
                        .name{
                            background-color: @theme
                        }
                        .discripe{
                            bottom: 0%;
                            background-color: rgba(189, 140, 71, 0.8);
                        }
                        img{
                            width: 106%;
                            left: -3%;
                        }
                    }
                }
            }
        }
    }
}
.activityNews{
    padding: 20px 0px;
    margin-bottom: 30px;
    .newsList{
        ul{
            .clear;
            li{
                float: left;
                width: 48%;
                margin: 1%;
                // height: 120px;
                // padding-left: 135px;
                background-color: #fff;
                padding: 10px;
                border: 1px solid #ddd;
                .animation(.3s);
                .radius(4px);
                // img{
                //     position: absolute;
                //     left: 6px;
                //     top: 6px;
                //     width: 108px;
                //     height: 108px;
                // }
                p{
                    text-align: left;
                    word-break: break-all;
                    margin: 8px 0px 0px 0px;
                    display: block;
                    padding: 0px 10px;
                    .animation(.3s);
                    &.title{
                        font-size: 17px;
                        color: #222;
                    }
                    &.abstract{
                        font-size: 13px;
                        color: #666;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                .otherInfo{
                    text-align: right;
                    padding-right: 10px;
                    font-size: 12px;
                    margin-top: 10px;
                    .date{
                        width: 100%;
                        color: #999;
                    }
                }
                &:hover{
                    background-color: lighten(@theme, 40%);
                    border: 1px solid @theme;
                    .boxShadow(0px 1px 4px lighten(@theme, 30%));
                    .transform(translateY(-3px));
                    p{
                        &.title{
                            color: #000;
                        }
                        &.abstract{
                            color: #444;
                        }
                    }
                }
                // .otherInfo{
                //     position: absolute;
                //     left: 120px;
                //     bottom: 0px;
                //     right: 0px;
                //     border-top: 1px solid #e7e7e7;
                //     height: 36px;
                //     letter-spacing: -8px;
                //     .date,
                //     .tapTimes{
                //         display: inline-block;
                //         width: 50%;
                //         height: 100%;
                //         line-height: 36px;
                //         letter-spacing: normal;
                //         text-align: center;
                //         color: #999;
                //         font-size: 13px;
                //     }
                //     .tapTimes{
                //         border-left: 1px solid #e7e7e7;
                //     }
                // }
            }
        }
    }
}

.title{
    text-align: center;
    margin: 10px 0px 40px 0px;
    .text{
        p{
            font-size: 24px;
            color: #222;
            &.en{
                font-size: 12px;
                margin-top: 3px;
                .transform(scale(0.9));
                color: @theme;
            }
        }
    }
    .line{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        height: 2px;
        width: 270px;
        margin: auto;
        background-color: #444;
        &:after{
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            top: -3px;
            bottom: 0px;
            margin: 0px;
            background-color: #444;
            .radius(10px);  
        }
        &.left{
            left: -420px;
            &:after{
                right: 0px;
            }
        }
        &.right{
            right: -420px;
            &:after{
                left: 0px;
            }
        }
    }
}