@import './util.less';
@import './animation.less';
@import './init.less';
@import './common.less';

.blockTitle{
    margin-top: 50px;
}
.storePicList{
    margin-bottom: 50px;
    .container{
        overflow: hidden;
        .storePic{
            width: 30%;
            float: left;
            margin: 1.65%;
            border: 1px solid #ddd;
            padding: 5px;
            .animation();
            .wrap{
                width: 100%;
                padding-bottom: 75%;
                overflow: hidden;
                img{
                    position: absolute;
                    width: 100%;
                    top: 0%;
                    left: 0%;
                    .animation();
                }
            }
            .name{
                margin: 10px 0px;
                color: #666;
                font-size: 15px;
                text-align: center;
                letter-spacing: 1px;
            }
            &:hover{
                cursor: pointer;
                border: 1px solid #bbb;
                .boxShadow(0px 0px 4px #bbb);
                .wrap{
                    img{
                        width: 110%;
                        left: -5%;
                    }
                }
            }
        }
    }
}

#bigImageWrap{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    z-index: 999;
    display: none;
    .wrap{
        display: inline-block;
        margin: 30px auto;
        padding: 10px;
        background-color: #fff;
        border: 1px solid @black;
        max-width: 100%;
        .boxShadow(0px 0px 10px lighten(@black, 40%));
        .closeBtn{
            position: absolute;
            right: -15px;
            top: -15px;
            z-index: 1;
            cursor: pointer;
            &:hover{
                .moves(roll-animation,2s,ease-out,infinite,0s);
            }
        }
        .image{
            display: block;
            max-width: 100%;
        }
    }
    &.show{
        display: block;
    }
}